# Configurations for arguments that should automatically be added to Bazel commands.
build --android_databinding_use_v3_4_args \
    --experimental_android_databinding_v2 \
    --define=android_standalone_dexing_tool=d8_compat_dx \
    --android_databinding_use_androidx

# Show all test output by default (for better debugging).
test --test_output=all

# Extra debugging
build --sandbox_debug
build --verbose_failures
build --execution_log_json_file=/tmp/json
build --profile=/tmp/prof

# Work around https://github.com/bazelbuild/bazel/issues/3236
common --enable_platform_specific_config
build:linux --sandbox_tmpfs_path=/tmp

# Work around Java issues in Oppia
build --incompatible_java_common_parameters=false

# Work around singlejar incompatibility with RBE
# https://cs.opensource.google/bazel/bazel/+/master:src/tools/singlejar/singlejar_main.cc;l=24
build --noexperimental_check_desugar_deps

# Harmonize local and remote execution environment
build --define=EXECUTOR=remote
build --action_env=PATH=/bin:/usr/bin:/usr/local/bin

# RBE support
build:remote --jobs=100
build:remote --remote_instance_name=projects/bazel-untrusted/instances/default_instance
build:remote --remote_executor=grpcs://remotebuildexecution.googleapis.com
build:remote --remote_timeout=600
build:remote --remote_download_minimal
build:remote --google_default_credentials

# Universal toolchain
build --incompatible_enable_cc_toolchain_resolution
build --host_platform=//:exec_platform
build --platforms=//:target_platform

# Dynamic execution
build:remote --internal_spawn_scheduler
build:remote --spawn_strategy=dynamic

# C++ can't build/run locally
build:remote --strategy=CppCompile=remote
build:remote --strategy=CppLink=remote
build:remote --strategy=CppArchive=remote
build:remote --strategy=GenProto=remote
build:remote --strategy=GenerateBinaryProtoFromText=remote

# DexMerger uses nested artifacts which are incompatible with BwoB
build:remote --strategy=DexMerger=remote
