# Configurations for arguments that should automatically be added to Bazel commands.
build --android_databinding_use_v3_4_args \
    --experimental_android_databinding_v2 \
    --define=android_standalone_dexing_tool=d8_compat_dx \
    --android_databinding_use_androidx

# Show all test output by default (for better debugging).
test --test_output=all

# Work around https://github.com/bazelbuild/bazel/issues/3236
common --enable_platform_specific_config
build:linux --sandbox_tmpfs_path=/tmp

# Work around Java issues in Oppia
build --incompatible_java_common_parameters=false

# Harmonize local and remote execution environment
build --define=EXECUTOR=remote
build --action_env=PATH=/bin:/usr/bin:/usr/local/bin

# RBE support
build:remote --jobs=100
build:remote --remote_instance_name=projects/bazel-untrusted/instances/default_instance
build:remote --remote_executor=grpcs://remotebuildexecution.googleapis.com
build:remote --remote_timeout=600
build:remote --remote_download_minimal
build:remote --google_default_credentials
build:remote --java_runtime_version=rbe_jdk
build:remote --tool_java_runtime_version=rbe_jdk
build:remote --extra_toolchains=@rbe_ubuntu1804_java11//java:all
build:remote --crosstool_top=@rbe_ubuntu1804_java11//cc:toolchain
build:remote --extra_toolchains=@rbe_ubuntu1804_java11//config:cc-toolchain
build:remote --extra_execution_platforms=//:rbe_ubuntu1804_java11_platform
build:remote --host_platform=//:rbe_ubuntu1804_java11_platform
build:remote --platforms=//:rbe_ubuntu1804_java11_platform
